@model Review.Models.Item

@{
    ViewBag.Title = "Details";
}

<section class="success">
    <div class="container">
        <div style="background-color:white;color:#2c3e50;padding:5% 0px;margin-top:5%;">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Title):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Title)
                </dd>

                <br/>
                <br />
                <br />

                <dt>
                    @Html.DisplayNameFor(model => model.Itemreviews):
                </dt>
                <dd>
                    <table class="table" style="max-width:90%">
                        <tr>
                            <th>Review</th>
                            <th>Grade</th>
                        </tr>
                        @foreach (var item in Model.Itemreviews)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.WrittenReview)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Grade)
                                </td>
                            </tr>
                        }
                    </table>
                </dd>

            </dl>
        </div>
    </div>
</section>

<p>
    @Html.ActionLink("Review", "create", "itemreviews") | 
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
